<article class="post-item">
  <h3>
    Van <%= post.date.toLocaleDateString('nl-NL', { year: 'numeric' , month: 'numeric' , day: 'numeric' }) %>
      tot <%= post.date_ready %>
  </h3>
  <h3>
    <%= post.title %>
  </h3>
  <h3>
    <%= post.summary %>
  </h3>
  <div class="post-actions">
    <form action="/posts/<%= post.id %>/delete" method="POST">
      <button class="btn btn-alt">Verwijder</button>
    </form>
    <a href="/posts/<%= post.id %>/edit">Wijzig</a>
    <a class="btn" href="/posts/<%= post.id %>">Details</a>
  </div>
</article>