<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', { title: post.title }) %>
    <link rel="stylesheet" href="/styles/posts.css">
</head>

<body>
  <%- include('includes/header') %>
    <!-- <main id="post-detail"> -->
    <main>
      <h1>
        <%= post.title %>
      </h1>
      <section id="post-meta">
        <address>
          <a href='mailto:<%= post.authors_email %>'>
            <%= post.authors_name %>
          </a>
        </address> |
        <time datetime='<%= post.date %>'>
          <%= post.date %>
        </time>
      </section>
      <hr>
      <section>
        <p>
          <strong>Summary: </strong>
          <%= post.summary %>
        </p>
        <p>
        <h3>Body: </h3>
        <%= post.body %>
          </p>
      </section>
    </main>
</body>

</html>